# Nuxt
.nuxt
.output
.data
.vercel
.netlify
.env
dist

# Dependencies
node_modules

# Logs
*.log
logs

# Editor
.DS_Store
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Misc
*.local

# Scaffolding-artefacten en lokale mount
hr-saas.tar.gz
mnt/
